In [1]:
import pandas as pd 
import numpy as np
from tqdm import tnrange, tqdm_notebook
path1 = "C:/Users/jacob.carey/Desktop/Projects/ConsentRateProjects/user_level_consentv1/data_prep/pruned_eu_vendors.csv"
path2 = "C:/Users/jacob.carey/Desktop/Projects/ConsentRateProjects/user_level_consentv1/data_prep/eu_notices.csv"

In [2]:
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)

In [3]:
merged = df1.merge(df2, right_on='snid', left_on='Id')

In [4]:
dropped = merged.drop(columns=['Unnamed: 0','Domain_y', 'snid'])

In [5]:
master = dropped.rename(index=str, columns={'Domain_x': 'Domain'})

In [6]:
master.head()

,Id,CompanyId,Domain,ClearLanguage,CompanyName,CountryId,CountryName,Industry,OnBrand
0,8620,4141,www.ramazzotti.de,1,Pernod-Ricard,20,Belgium,3,0
1,14457,5132,www.provagratisolaznotte.it,1,Procter and Gamble UCP,7,Italy,3,0
2,18223,5137,wegmetvlekken.nl,1,Reckitt Benckiser,8,Netherlands,3,1
3,6833,1678,chiclesfive.com,0,Mars,4,Spain,3,1
4,15137,2025,p-pille.dk,1,Pfizer,15,Denmark,4,0

In [7]:
master.to_csv("C:/Users/jacob.carey/Desktop/Projects/ConsentRateProjects/user_level_consentv1/data_prep/eu_master.csv")